@using Output4Epam.Entities
@using Output4Epam.Providers

@{ 
	bool isUser = LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScroll.User.ToString());
	bool isAdmin = LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScroll.Admin.ToString());
}

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas" style="">
	<a class="navmenu-brand" href="/Pages/StructureElements/Index.cshtml">Yay</a>
	<ul class="nav navmenu-nav mainNavMenu">
		@if (isUser)
		{
			<li data-type="showmypage"><a href="/Pages/StructureElements/ShowMyPage.cshtml">My Page</a></li>
			<li data-type="addlot" class="active"><a href="/Pages/StructureElements/AddLot.cshtml">Add lot</a></li>
			<li data-type="showmylots"><a href="/Pages/StructureElements/ShowMyLots.cshtml">Show my lots</a></li>
		}
		@if (isAdmin)
		{
			<li data-type="showallusers"><a href="/Pages/StructureElements/ShowAllUsers.cshtml">Show all users</a></li>
		}
		@if (!User.Identity.IsAuthenticated)
		{
			<li data-type="none" class="blackfont">Registrate for more options</li>
		}
		<li data-type="statistic"><a href="/Pages/StructureElements/Statistic.cshtml">Statistic</a></li>
		<li class="dropdown" data-type="none">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filters<b class="caret"></b></a>
			<ul class="dropdown-menu navmenu-nav">
				@foreach (var item in Enum.GetValues(typeof(LotTypes)))
				{
					if (@item.ToString() != "None")
					{
						<li class="topbutton filter" data-action="@item"><a href="#">@item</a></li>
					}
				}
			</ul>
		</li>
	</ul>
</div>

<div class="navbar navbar-default navbar-fixed-top" style="">
	
	<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>
