@using Output4Epam.Entities
@using Output4Epam.Providers

@{
	bool isUser = User.Identity.Name == String.Empty ? false : LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScroll.User.ToString());
	bool isAdmin = User.Identity.Name == String.Empty ? false : LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScroll.Admin.ToString());
}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header ">
			<button type="button" class="navbar-toggle collapsed hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="~/Pages/StructureElements/Index.cshtml">Yay</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav col-xs-11">
				@if (isUser)
			{
					<li class="navbar-left" data-type="showmypage"><a href="/Pages/StructureElements/ShowMyPage.cshtml">My Page</a></li>
					<li class="navbar-left active" data-type="addlot"><a href="/Pages/StructureElements/AddLot.cshtml">Add lot</a></li>
					<li class="navbar-left" data-type="showmylots"><a href="/Pages/StructureElements/ShowMyLots.cshtml">Show my lots</a></li>
			}
				@if (isAdmin)
			{
					<li class="navbar-left" data-type="showallusers"><a href="/Pages/StructureElements/ShowAllUsers.cshtml">Show all users</a></li>
			}
				@if (!User.Identity.IsAuthenticated)
			{
					<li class="navbar-left" data-type="none"><a href="~/Pages/StructureElements/Register.cshtml">Registrate for more options</a></li>
			}
				<li class="navbar-left" data-type="statistic"><a href="/Pages/StructureElements/Statistic.cshtml">Statistic</a></li>
				<li class="dropdown navbar-left" data-type="none">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filters<b class="caret"></b></a>
					<ul class="dropdown-menu">
						@foreach (var item in Enum.GetValues(typeof(LotTypes)))
						{
							if (@item.ToString() != "None")
							{
								<li class="topbutton filter" data-action="@item"><a href="#">@item</a></li>
							}
						}
					</ul>
				</li>

				@if (User.Identity.IsAuthenticated)
				{
							<li class="navbar-right"><a href="~/Pages/AJAX/Dislogin.cshtml">Dislogin</a></li>
				}
				else
				{
					<li class="dropdown navbar-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="~/Pages/StructureElements/Login.cshtml">Login</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="~/Pages/StructureElements/Register.cshtml">Register</a></li>
						</ul>
					</li>
				}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>