body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 14px;
	color: white;
	background-color: black;
}

/*________________________________________*/

.tooltip {
	border-bottom: 1px dotted #0077AA;
	cursor: help;
}

	.tooltip::after {
		z-index: 999;
		background: #000;
		color: #fff;
		content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
		margin-top: -24px;
		padding: 3px 7px;
		position: absolute;
		visibility: hidden; /* ...и скрыт. */
	}

	.tooltip:hover::after {
		visibility: visible;
	}

/*________________________________________*/

.borderaround {
	border: 1px solid white;
	border-radius: 2px;
}

/*________________________________________*/

.headlogo {
	position: relative;
	display: block;
	height: 6ex;
	background-color: #fff;
	width: 100%;
	height: 120px;
}

/*________________________________________*/

.helloform {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	background-color: black;
	padding: 10px;
	border: 1px solid white;
	color: white;
}

	.helloform input {
		background-color: black;
		color: white;
		border: 2px solid white;
	}

	.helloform button {
		background-color: black;
		border: 2px solid white;
		color: white;
		font-weight: bold;
		font-size: 2ex;
		margin-top: 10px;
		cursor: pointer;
	}

/*________________________________________*/

footer {
	position: fixed;
	background-color: black;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/*________________________________________*/

.leftmenu {
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	width: 170px;
	margin-top: 10px;
}

	.leftmenu ul {
		list-style-type: none;
		padding: 0;
		margin-bottom: 20px;
	}

		.leftmenu ul:first-child {
			border-bottom: 1px solid white;
		}

		.leftmenu ul li {
			margin: 5px 0px;
		}

			.leftmenu ul li a {
				text-decoration: none;
				color: white;
				font-size: 2.5ex;
				margin-left: 1ex;
			}

				.leftmenu ul li a:hover:before {
					content: " >";
					position: relative;
					left: -2ex;
				}

/*________________________________________*/

.topButtons {
	position: absolute;
	left: 250px;
	top: 10px;
	font-size: 3ex;
}

	.topButtons .topbutton {
		margin: 5px 0 10px 5px;
		padding: 5px 10px;
		cursor: pointer;
	}

		.topButtons .topbutton:hover {
			text-decoration: underline;
		}

	.topButtons .selected {
		text-decoration: underline;
	}

		.topButtons .selected:hover {
			text-decoration: underline;
		}

/*________________________________________*/

.section {
	margin-left: 200px;
	top: 100px;
	position: absolute;
	right: 30px;
	left: 0;
	display: inline-block;
}

	.section .userlist {
		list-style-type: none;
		padding: 0;
	}

		.section .userlist .userlistitem {
			position: relative;
			display: block;
			height: 200px;
			width: 100%;
			margin: 10px 0 0 20px;
			background-color: black;
			border: 1px solid white;
		}

	.section .mypagelist {
		list-style-type: none;
		padding: 0;
	}

		.section .mypagelist .mypagelistitem {
			position: relative;
			display: block;
			height: 100px;
			width: 100%;
			margin: 10px 0 0 20px;
			background-color: black;
			border: 1px solid white;
		}

		.section .mypagelist .colorshemeradioitem {
			height: auto;
		}

			.section .mypagelist .colorshemeradioitem input {
				position: relative;
				top: 8px;
			}

			.section .mypagelist .colorshemeradioitem label {
				display: block;
				position: relative;
				left: 30px;
				top: -12px;
			}

	.section .p {
		display: inline-block;
		height: 180px;
		width: 300px;
	}

		.section .p .img {
			height: 90%;
			margin: 10px;
			cursor: pointer;
			max-width: 250px;
			max-height: 150px;
		}

	.section .title,
	.section .info,
	.section .city,
	.section .cost,
	.section .postDate,
	.section .owner,
	.section .costchoise,
	.section .button,
	.section .categories {
		display: inline-block;
		position: absolute;
	}

	.section .title {
		font-size: 4ex;
		text-decoration: underline;
		cursor: pointer;
	}

		.section .title:hover {
			color: #777;
		}

	.section .info {
		top: 50px;
		width: 70%;
		text-overflow: ellipsis;
		overflow: hidden;
	}

		.section .info .role:after {
			content: ", ";
		}

		.section .info .role:last-child:after {
			content: "";
		}

	.section .city {
		top: 110px;
	}

	.section .cost {
		right: 20px;
		font-size: 4ex;
		cursor: pointer;
	}

		.section .cost:after {
			content: "▼";
			font-size: 1ex;
		}

		.section .cost:hover {
			text-decoration: underline;
		}

	.section .costchoise {
		right: 30px;
		top: 60px;
		display: none;
	}

		.section .costchoise .costchoiseitem {
			width: 50px;
			margin: 10px 0 10px 0;
		}

			.section .costchoise .costchoiseitem:hover {
				text-decoration: underline;
				cursor: pointer;
			}

	.section .cost:focus + .costchoise {
		display: inline-block;
	}

	.section .costchoise:hover {
		display: inline-block;
	}

	.section .postDate {
		left: 300px;
		top: 150px;
		cursor: help;
	}

	.section .owner {
		top: -10px;
		left: 300px;
	}

	.section .button {
		bottom: 0;
		left: 400px;
		height: 20px;
		background-color: black;
		padding: 5px 10px;
		font-size: 3ex;
		cursor: pointer;
		color: white;
		width: 120px;
		text-align: center;
		border: 1px solid white;
	}

		.section .button:hover {
			background-color: #222;
		}

	.section .removeuser {
		left: 20px;
	}

	.section .banuser {
		left: 180px;
	}

	.section .togglevipuser {
		left: 340px;
	}

	.section .toggleadminuser {
		left: 500px;
	}

	.section .add {
		left: 0px;
		bottom: -60px;
	}

	.section .delete {
		left: 550px;
	}

	.section .bought {
		background-color: #333;
		cursor: default;
	}

		.section .bought:hover {
			background-color: #333;
			cursor: default;
		}

	.section .categories {
		display: inline-block;
		bottom: 0;
		right: 20px;
		margin-bottom: 10px;
	}

		.section .categories span {
			background-color: black;
			border-radius: 2px;
			padding: 3px 5px;
			margin-right: 5px;
		}

/*________________________________________*/

.addLot {
	left: 200px;
	margin: 15px;
}

	.addLot input {
		display: block;
		margin-top: 5px;
	}

	.addLot .checkboxes {
		position: absolute;
		left: 200px;
	}

		.addLot .checkboxes .checkboxitem {
			margin: 10px;
		}

/*________________________________________*/

.mypage .title {
	position: absolute;
	left: 10px;
}

.mypage .info {
	position: absolute;
	left: 10px;
}

/*________________________________________*/

.checkboxes {
	list-style: none;
}

	.checkboxes .checkbox {
		display: inline-block;
	}

/*________________________________________*/

.popup {
	display: none;
	position: absolute;
	width: 200px;
	background-color: black;
	left: 210px;
	z-index: 999;
	border: 1px solid white;
}

	.popup:hover { /* due to brouser may not be able to cathc focus on .popup in a flash */
		display: block;
	}

	.popup:focus {
		display: block;
	}

.popuplink:focus + div {
	display: block;
}

.popup p {
	padding: 5px 5px 5px 10px;
	border-top: 1px solid white;
	margin: 0;
}

	.popup p:first-child {
		border-top: 1px solid transparent;
	}

	.popup p:hover:before {
		content: " >";
		position: relative;
		left: -2ex;
	}