@{
	Layout = "~/Pages/Index.cshtml";
}

<section class="addLot section">
	<p>enum. Hope, you know, what it is)</p>
	Types: None = 0, Other = 1, Cloth = 2, Technic = 4, Fun = 8,

	@RenderPage("/Pages/StructureElements/LotTypeCheckBoxes.cshtml")

	<form enctype="multipart/form-data" method="post" action="~/Pages/AJAX/AddLot.cshtml">
		Title: <input type="text" name="Title" value="" />
		Photo: <input type="file" name="Photo" accept="image/png"/>
		Sity: <input type="text" name="Sity" value="" />
		Cost: <input type="text" name="Cost" value="" />
		Types: <input type="text" name="Types" value="" />
		Info: <input type="text" name="Info" value="" />
		<button>Add</button>
	</form>
</section>