@using Output4Epam.Providers
@using Output4Epam.Entities

@{
	Layout = "~/Pages/Index.cshtml";
	bool isUser = LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScrolls.User.ToString());
}

@if (isUser)
{
	<section class="addLot section">

		<p>Choose category</p>

		<ul class="checkboxes">
			@foreach (var item in Enum.GetValues(typeof(LotTypes)))
			{
				if (item.ToString() == LotTypes.None.ToString())
				{
					continue;
				}

				<li class="checkboxitem">
					<input class="checkbox" type="checkbox" name="@item" data-enumValue="@((int)item)" /><label for="@item">@item</label>
				</li>
			}
		</ul>

		<form enctype="multipart/form-data" method="post" action="~/Pages/AJAX/AddLot.cshtml">
			Title: <input type="text" name="Title" value="" />
			Photo: <input type="file" name="Photo" accept="image/png" />
			City: <input type="text" name="City" value="" />
			Cost: <input type="text" name="Cost" value="" />
			Info: <input type="text" name="Info" value="" />
		</form>

		<p class="button add">Добавить</p>
	</section>
}
else
{
	Response.Redirect("/Pages/StructureElements/Content");
}