@using Output4Epam.Entities
@using Output4Epam.Providers

<header>
	<a href="/Pages/StructureElements/Content.cshtml"><img src="~/Pages/AJAX/GetHeader.cshtml" alt="header" class="headlogo" /></a>
</header>