<div class="ui celled relaxed list">
	<div class="item">
		<div class="ui master checkbox">
			<input type="checkbox" name="fruits">
			<label>Fruits</label>
		</div>
		<div class="list">
			<div class="item">
				<div class="ui child checkbox">
					<input type="checkbox" name="apple">
					<label>Apple</label>
				</div>
			</div>
			<div class="item">
				<div class="ui child checkbox">
					<input type="checkbox" name="orange">
					<label>Orange</label>
				</div>
			</div>
			<div class="item">
				<div class="ui child checkbox">
					<input type="checkbox" name="pear">
					<label>Pear</label>
				</div>
			</div>
		</div>
	</div>
</div>