@using Output4Epam.Providers
@using Output4Epam.Entities

@{
	Layout = "~/Pages/Index.cshtml";
}

@{
	RegUser user = LogicProvider.RegUserLogic.GetByLogin(User.Identity.Name);
	bool isUser = LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, "User");
}

@if (isUser)
{
	<section class="section mypage">
		<ul class="mypagelist" data-userlogin="@User.Identity.Name">
			<li class="mypagelistitem">
				@*<p class="p"><img class="img" src="/Pages/AJAX/GetImage.cshtml?id=@item.Id" alt="image" /></p>*@

				<p class="title">Hello, @user.Login</p>
				<p class="info">Money: @user.Money</p>
			</li>
			<li class="mypagelistitem colorshemeradioitem">
				<input class="radiobox" type="radio" name="radio" id="opt1" value="" data-shemename="testing" /><label for="opt1">Testing sheme</label>
				<input class="radiobox" type="radio" name="radio" id="opt2" value="" data-shemename="oldschoolwhite" /><label for="opt2">xZx_OldSkul_xZx</label>
				<input class="radiobox" type="radio" name="radio" id="opt3" value="" data-shemename="oldschoolblack" /><label for="opt3">xZx_OldSkul_BlazZzk_xZx</label>
				<input class="radiobox" type="radio" name="radio" id="opt4" value="" data-shemename="space" /><label for="opt4">Space</label>
			</li>
		</ul>
			<p class="button settheme" name="settheme">Change theme</p>
	</section>
}
else
{
	Response.Redirect("/Pages/StructureElements/Content");
}