@using Output4Epam.Providers
@using Output4Epam.Entities

@{
	bool isUser = LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScroll.User.ToString());
	bool isAdmin = LogicProvider.RegUserLogic.IsUserInRole(User.Identity.Name, RoleScroll.Admin.ToString());
}

<nav class="leftmenu borderaround">
	<ul>
		@if (isUser)
		{
			<li><a href="~/Pages/StructureElements/MyPage.cshtml">Личный кабинет</a></li>
		}
		<li>
			<a href="#" class="popuplink" tabindex="1">Фильтры</a>
			<div class="popup" tabindex="3">
				@foreach (var item in Enum.GetValues(typeof(LotTypes)))
				{
					if (item.ToString() != "None")
					{
						<p class="topbutton filter" data-action="@item">@item</p>
					}
				}
			</div>
		</li>
		<li><a href="~/Pages/StructureElements/Stats">Статистика</a></li>
		@*<li>
			<a href="#" class="popuplink" tabindex="2">Цветовая схема ▼</a>
			<div class="popup" tabindex="4	">
				<p name="colorsheme" data-type="testing">Test...</p>
				<p name="colorsheme" data-type="oldschoolwhite">xZx_OldSkul_xZx</p>
				<p name="colorsheme" data-type="oldschoolblack">xZx_OldSkul_BlazZzk_xZx</p>
				<p name="colorsheme" data-type="space">Space</p>
			</div>
		</li>*@
	</ul>

	@if (isUser)
	{
		<ul>
			<li><a href="~/Pages/StructureElements/AddLot">Добавить объявление</a></li>
			<li><a href="~/Pages/StructureElements/MyLots">Мои объявления</a></li>
		</ul>
	}
	else
	{
		<p>Зарегестрируйтесь для больших возможностей.</p>
	}

	@if (isAdmin)
	{
		<ul>
			<li><a href="~/Pages/StructureElements/AllUsers">Список юзеров</a></li>
		</ul>
	}
</nav>