<nav class="leftmenu borderaround">
	<ul>
		<li><a href="~/Pages/StructureElements/MyPage.cshtml">Личный кабинет</a></li>
		<li><a href="#">Фильтры</a></li>
		<li><a href="#">Статистика</a></li>
		<li><a href="#">Цветовая схема ▼</a></li>
	</ul>

	<ul>
		<li><a href="~/Pages/StructureElements/AddLot">Добавить объявление</a></li>
		<li><a href="~/Pages/StructureElements/MyLots">Мои объявления</a></li>
	</ul>
</nav>
