<div class="topButtons">
	<span>Sort by:</span>
	<span class="topbutton orderByName" data-action="orderByName">Name</span>
	<span class="topbutton orderByDate selected" data-action="orderByDate">Date</span>
	<span class="topbutton orderByOwner" data-action="orderByOwner">Owner</span>
</div>