@{
	Layout = "/Pages/Layouts/ErrorPageLayout.cshtml";
}
<p class="info">Упс, ошибка 403: доступ для вас запрещён.</p>

<p class="info"><a href="~/Pages/StructureElements/Index.cshtml">На главную.</a></p>